
/* ctrl + / 快速注释 */
head {
    height: 150px;
}

/* header and body setup */

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* Header styling */

header {
    height: 100px;
}

header img {
    width: 100px;
    position: absolute;
    right: 47.5px;
    top: 47.5px;
}

h1 {
    font-size: 50px;
    line-height: 140px;
    margin: 0 0 0 32.5px;
}

article {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 2;
}

iframe {
    float: left;
    max-width: 100%;
}