html {
    background-color: white;
    font-size: 10px;
    /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif;
    /* this should be the rest of the output you got from Google fonts */
}


/* ctrl + / 快速注释 */

body {
    /* This forces the body to always be 600 pixels wide. */
    width: 660px;
    /* When you set two values on a property like margin or padding, the first value affects the element's top and bottom side (setting it to 0 in this case);  */
    /* the second value affects the left and right side. (Here, auto is a special value that divides the available horizontal space evenly between left and right). You can also use one, three, or four values, as documented in Margin Syntax. */
    margin: 0 auto;
    /* This sets the element's background color. */
    background-color: whitesmoke;
    /* This sets four values for padding. The goal is to put  some space around the content.  */
    padding: 0 20px 20px 20px;
    /* This sets values for the width, style and color of the border. */
    border: 5px solid black;
}

h1 {
    /*To eliminate the gap, we overwrite the browser's default styling with the setting margin: 0;. */
    margin: 0;
    padding: 20px 0;
    color: black;
    /* horizontal offset */
    /* vertical offset */
    /* blur radius */
    /* base color */
    text-shadow: 3px 3px 1px grey;
    font-size: 60px;
    text-align: center;
}

p,
li {
    color: black;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    /* The <body> is a block element, meaning it takes up space on the page. A block element can have margin and other spacing values applied to it. In contrast, images are inline elements. It is not possible to apply margin or spacing values to inline elements. */
    display: block;
    margin: 0 auto;
}